<section class="phx-hero">
  <h1 class="text-purple-500 text-5xl font-bold text-center">Got Tailwind?</h1>
  <p>A productive web framework that<br/>does not compromise speed speed or maintainability</p>
</section>
